body {
  background-color: whitesmoke;
  color: black;
}

iframe {
  max-width: 100%;
  width: 100%;
}
.container {
  max-width: min(80ch, 100vw - 4rem);
  margin-inline: auto;
}
header {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  flex-direction: column;
}

header > h3 {
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 1.2rem;
}

main > h2 {
  align-content: center;
  align-items: center;
  display: flex;
  gap: 1.2rem;
}

main > h2 > img {
  max-width: 24px;
}